.flights-homepage {
  position: absolute;
  top: 22vh;
  left: 1%;
  width: 97%;
  height: 50vh;
  border-radius: 8px;
  background-color: white;
  color: #4a4a4a;
  margin: auto;
}

.trip-route {
  width: 98%;
  height: 40%;
  margin: auto 1vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: solid 1px #e7e7e7;
  position: absolute;
  top: 20%;
}

.trip-date {
  width: 25vw;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.trip-depature {
  width: 15vw;
  height: 100%;
  text-align: left;
  border-right: 1px solid #e7e7e7;
  margin-left: 0px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.trip-depature-text{
  margin-bottom: 0px;
}

.trip-class {
  width: 25vw;
  height: 100%;
  text-align: left;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.trip-class-heading {
  cursor: pointer;
}

.trip-class-heading-icon {
  color: #4885f5;
}

.trip-class-content {
  width: 80%;
}
.flights-section-calendar {
  width: 90%;
  text-align: left;
  margin-bottom: 0px;
}

.no-of-passengers {
  font-size: 28px;
  font-weight: 750;
  color: black;
  text-transform: capitalize;
  width: 20vw;
  border: none;
  white-space: nowrap;
  overflow: hidden;
}

.trip-start,
.trip-destination {
  font-size: 28px;
  font-weight: 750;
  margin-left: 20px;
  color: black;
  text-transform: capitalize;
  width: 20vw;
  border: none;
  white-space: nowrap;
  overflow: hidden;
}

.depature-date {
  font-size: 28px;
  font-weight: 700;
  color: #070707c3;
  text-transform: capitalize;
  width: 10vw;
  padding: 6px 0;
  margin-bottom: 5px;
}

.airport {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin-left: 20px;
  width: 30%;
}

.depature-month {
  margin-left: 2px;
  font-size: 22px;
  font-weight: 400;
}

.search-button {
  width: 16vw;
  padding: 10px;
  margin-bottom: -32px;
  opacity: 1;
  color: #fff;
  border-radius: 34px;
  background: linear-gradient(93deg, #53b2fe, #065af3);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  flex-shrink: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  border: 0;
  text-align: center;
  position: relative;
  top: -11.5vh;
}

.fare-type {
  display: flex;
  width: 100%;
  height: 45px;
  position: absolute;
  top: 70%;
  margin-left: 20px;
}

.fare-type-heading {
  width: 6%;
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.fare-type-content {
  width: 12%;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.no-of-passengers-text {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.no-of-passengers-class {
  /* margin-left: 20px; */
  text-transform: capitalize;
}
.departure-airport-list {
  width: 250px;
  height: 270px;
  z-index: 90;
  position: absolute;
  top: 35%;
  left: 1%;
  background-color: #fff;
}

.arrival-airport-list {
  width: 250px;
  height: 270px;
  z-index: 90;
  position: absolute;
  top: 35%;
  left: 30%;
  background-color: #fff;
}

#airportList-input {
  width: 90%;
  height: 30px;
  text-align: left;
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .fare-type-content {
    width: 12%;
    font-size: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    cursor: pointer;
  }

  .fare-type-text {
    margin-left: 5px;
    width: 100%;
  }

  .fare-type-heading {
    width: 12%;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    text-align: left;
  }

  .search-button {
    width: 16vw;
    padding: 10px;
    margin-bottom: -32px;
    opacity: 1;
    color: #fff;
    border-radius: 34px;
    background: linear-gradient(93deg, #53b2fe, #065af3);
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    flex-shrink: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    border: 0;
    text-align: center;
    position: relative;
    top: -11.5vh;
    font-size: 12px;
  }

  .trip-date-text {
    font-size: 12px;
  }

  .no-of-passengers ,.no-of-passengers-text{
    font-size: 4vw;
    font-weight: 750;
    color: black;
    text-transform: capitalize;
    /* width: 20vw; */
    border: none;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .trip-start,
  .trip-destination {
    font-size: 22px;
    font-weight: 750;
    margin-left: 20px;
    color: black;
    text-transform: capitalize;
    width: 20vw;
    border: none;
    white-space: nowrap;
    overflow: hidden;
  }
  .depature-date {
    font-size: 22px;
    font-weight: 700;
    color: #070707;
    text-transform: capitalize;
    width: 10vw;
    margin-bottom: 0px;
    overflow-x: hidden;
  }

  .flights-section-calendar {
    width: 90%;
    text-align: left;
    font-size: 20px;
  }

  .trip-class-heading {
    cursor: pointer;
    font-size: 12px;

  }

  .trip-class-heading-icon {
    display: none;
  }

  .trip-class-content{
   overflow-x: hidden;
  }

  .no-of-passengers-class{
    font-size: 12px;
  }
}
