.hotel-homepage{
    position: absolute;
    top: 22vh;
    left: 1%;
    width:97%;
    height: 48vh;
    border-radius: 8px;
    background-color: white;
    color: #4a4a4a;
    margin: auto ;
    /* border: 3px solid red; */
}

.hotel-homepage-heading{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.hotel-homepage-content{
    display: flex;
    margin-top: 50px;
    
}

.hotel-location{
    width: 40%;
    min-height: 90px;
    border-right: solid 1px #e7e7e7;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
   padding: 15px;
    text-align: left;
    margin-left: 20px;
}

.hotel-location p{
    text-transform: capitalize;
}

.hotel-location-text{
    font-size: 14px;
    color: #4a4a4a;
}

.hotel-location-city{
    font-size: 32px;
    font-weight: 750;
    margin-left: -5px;
    color: black;
    text-transform: capitalize;
    width: 200px;
    border: none;
}

.check-in ,.check-out {
    width: 20%;
    min-height: 97px;
    border-right: solid 1px #e7e7e7;
    position: relative;
    text-align: left;
    padding: 15px;
}

.flights-section-calendar{
    display: block;
}
.rooms-guest{
    width: 200px;
    min-height: 95px;
    position: relative;
    text-align: left;
    padding: 15px;
}

.hotel-price-selection{
    font-size: 14px;
    line-height: 14px;
    color: #9b9b9b;
    margin-top: 10px;
}

.hotelhomepge-search-button{
  width: 16vw;
  padding: 10px;
  margin-bottom: -32px;
  opacity: 1;
  color: #fff;
  border-radius: 34px;
  background: linear-gradient(93deg, #53b2fe, #065af3);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  flex-shrink: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  border: 0;
  text-align: center;
  position: absolute;
  top: 45vh;
  left: 42vw;
  z-index: 999;
}

.button-disabled{
    cursor: no-drop;
}
