.input-cities {
  max-height: 200px;
  overflow-y: auto;
  z-index: 90;
  margin: 10% 0;
  font-size: 14px;
  width: 280px;
  position: absolute;
  top: 33%;
  left: 3%;
  background-color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
}

.individual-city-container {
  width: 100%;
  height: 30px;
  border-top: 1px solid #808080;
  margin-top: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.individual-city-container:hover {
  background-color: #7c7c7c3a;
  transition: 0.2s all;
}
