.railway-review{
    width: 100%;
    height: 100%;
}

.railway-review-header{
    width: 100%;
    height: 60px;
    background-color: #0a223d;
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 25px;
}