.hotel-search-nav{
    position: sticky;
    position: moz-sticky;
    width:100%;
    height: 100px;
    left: 0;
    top: 0;
    z-index: 12;
    background: linear-gradient(180deg,#051320,#2e455f);
    padding: 10px 0!important;
    transition: all .3s linear!important;
    z-index: 4!important;
    display: flex;
    align-items: center;
    gap: 15px;
}

.hotel-search-nav-location-inputbox{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background: #ffffff1a;
    border-radius: 4px;
    cursor: pointer;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 5px;
    position: relative;
    width: 250px;
    height: 70px;
    padding: 5px;
}

.hotel-search-nav-checkin-inputbox,.hotel-search-nav-checkout-inputbox , .hotel-search-nav-room-inputbox{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background: #ffffff1a;
    border-radius: 4px;
    cursor: pointer;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 5px;
    position: relative;
    width: 150px;
    height: 70px;
    padding: 5px;
}

.search-nav-label{
    color: #0084ff;
    padding: 4px 5px 5px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    opacity: 1;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    width: 90%;
}

.hotel-search-nav-input-container{
    width: 240px;
    height: 40px;
    background-color: #fffffff1;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 2px -2px 2px #ffffff59;
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 99;
    text-align: center;
    text-transform: capitalize;
    transition: all .5s linear;

}

.location-city{
    margin-left: 0.9vw;
    font-size: 1.8vw;
}

.hotel-serach-nav-text{
    font-size: 16px;
}


@media (max-width: 1024px){
    .search-nav-label span{
        font-size: 12px;
        text-align: left;
    }

    .location-city{
        margin-left: 2vw;
        font-size: 3vw;

    }

    .hotel-serach-nav-text{
        font-size: 12px;
    }

    .search-nav-label{
        color: #0084ff;
    padding: 4px 5px 5px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
    opacity: 1;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    width: 90%;
    }
}