.bus-details{
    width: 100vw;
    height: auto;
    display: flex; 
    background-color: #ffffff54; 
    
}

.bus-filter-container{
    width: 25%;
    height: min-content;
    background-color: #fff;
    border: 1px solid #a5a5a5;
    margin: 1% 2%;
    border-radius: 8px;
    
}

.bus-details-container{
    width: 68%;
    height: auto;
    margin: 1% 2% 0 0;
    background-color: #fff;
    /* border: 1px solid #999999; */
    border-radius: 8px;
}

.bus-details-container-heading{
    width: 100%;
    height: 30px;
    margin: 25px 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: black;
}

.bus-filter-container-heading{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 15px;
    border-bottom: 1px solid #999999;
}

.bus-filter-container-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    padding: 0 10px;
    border-bottom: 1px solid #999999;
    padding-bottom: 25px;
}

.bus-individual-filter{
    border: 1px solid #999999;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 32px;
    cursor: pointer;
    margin: 0;
}




.bus-individual-filter:hover , .time-filter-option:hover{
    color: #008cff ;
    border: 1px solid #008cff ;
    background-color: #eaf5ff ;
}

.timeFilterOptionsContainer{
    height: 148px;
    margin-right: -16px;
    overflow-y: unset;
}

.time-filter-option{
    width: 120px;
    margin: 2px 8px 9px 2px;
    float: left;
    left: 12px;
    top: 0;
    background: #fff;
    border:1px solid #999999;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 11px 5px;
    height: 65px;
}

.activeSlot{
    border: 1px solid #008cff !important;
    color: #008cff !important;
    background-color: #ebf6ff;
}
