.payment-container-main{
    width: 100vw;
    height: 100vh;
    background-color: rgba(187, 185, 185, 0.281);
    border: 1px solid black;
    position: fixed;
    top: 0%;
    left: 0%;
}


.payment-container{
    width: 50%;
    height: 250px;
    z-index: 20;
    position:fixed;
    top: 25%;
    left: 25%;
    background-color: #ffffffcf;
    padding: 20px;
   
}