.buses-homepage{
  color: #4a4a4a;
  border: 1px solid rgb(253, 253, 253);
  position: absolute;
  top: 22%;
  left: 1%;
  width: 98%;
  min-height:45%;
  border-radius: 8px;
  background-color:#fff;
  margin: auto;

}

.bus-homepage-header{
  width: 100%;
  height: 25px;
  /* border: 1px solid red; */
  position: absolute;
  top: 12%;
  font-size: 14px;
}

.bus-homepage-header-link{
  color: #008cff;
  cursor: pointer;
}

.bus-homepage-content{
  position: absolute;
  top: 30%;
  left: 2.5%;
  width: 95%;
  height: 40%;
  border: 1px solid #e7e7e7;
  border-radius: 14px ;
  display: flex;
}

.bus-homepage-city{
  width: 37%;
  height: 100%;
  text-align: left;
  margin: auto ;
  padding: 10px;
  border-right: 0.5px solid #e7e7e7;
}

.bus-homepage-hard-text{
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}
.bus-homepage-city-heading{
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: black;
  margin-left: 10px;
}

.bus-homepage-date{
  width:26%;
  height: auto;
  text-align: left;
  margin: auto ;
  padding: 10px;
  align-items: start;
}

.bus-homepage-date-text{
 font-size: 28px;
 font-weight: 700;
 line-height: 32px;
 color: #00000097;
 margin-left: 10px;
}

.bus-homepage-calender-shower{
  color: #008cff;
}

.bus-homepage-date-content-month{
  font-size: large;
  margin-left: 7px;
}

.bus-homepage-date-content-year{
  font-size: 20px;
  margin-left: 3px;
}

.bushomepge-search-button{
  width: 216px;
  padding: 10px;
  margin-bottom: -32px;
  opacity: 1;
  color: #fff;
  border-radius: 34px ;
  background: linear-gradient(93deg, #53b2fe, #065af3);;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  flex-shrink: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  border: 0;
  text-align: center;
  position: absolute;
  top:94%;
  left: 40%;
}
