.train-homepage{
    width: 1200px;
    min-height:40% ;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 60px 20px 0;
}

.train-homepage-option{
    width: 100%;
    height: 40px;
    /* padding: 10px; */
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.train-homepage-option-left{
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
} 

.option-selected{
    font-size: 14px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}

.train-homepage-option-text{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
.train-homepage-start-city,.train-homepage-destination-city{
    text-align: left;
    border: 1px solid red;
    width: 35%;
    padding: 10px;
}

.train-homepage-travel-date , .train-homepage-travel-class{
    text-align: left;
    border: 1px solid black;
    width: 15%;
}