.book-now-page{
    /* border: 1px solid rgb(3, 3, 3); */
    width: 80%;
    height: auto;
    margin: 0 10%;
    color: black;
    background: #ffffff;
    color: rgb(0 0 0/.85);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.book-now-flight-content{
    width: 75%;
    height: 300px;
    padding: 10px;
    border-left: 2px solid ;
    position: relative;
    top: 5%;
    box-shadow: 0 1px 4px #d8d3d3be;
    border: 1px solid #b3b0b0;
}

.book-now-fare{
    width: 20%;
    height: max-content;
    border: 1px solid#696969c4;
    background-color: #fff;
    border-radius: 2px;
    padding: 15px;
    position: relative;
    top: 5%;
    right: 2%;
}

.book-now-flight-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid #249995;
    padding: 0 12px;
}

.book-now-date-section{
    background-color: rgb(255, 237, 209);
    padding: 2px 5px;
    /* font-size: 14px;
    font-weight: 700; */
    margin-right: 10px;
}

.book-now-flight-sub-right{
    text-align: right;
}

.book-now-flight-sub-right-top{
    background-image: linear-gradient(to right, rgb(45, 193, 140), rgb(33, 147, 147));
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
    font-size: 8px;
    word-spacing: 1px;
    letter-spacing: 0.2px;
}

.book-now-flight-sub-right-bottom{
    all: unset;
    color: #0091ff;
    cursor: pointer;
    margin-top: 10px ;
}

.color-249995{
    color: rgb(36, 153, 149);
}

.book-now-flight-timing{
    width: 97%;
    height: auto;
    padding: 20px 10px;
    background-color: rgba(156, 155, 155, 0.219);
    margin: 10px 0 0 10px;
    color: black;
    font-weight: 600;
}
.book-now-filght-duration{
    left: 68px;
}

.book-now-flight-extra{
    display: flex;
    gap: 12px;
    border-top: 1px solid #8a8989;
    padding-top: 12px;
    margin-top: 12px;
}

.text-heading{
    font-size: 16px;
}

.text-s{
    font-size: 10px;
}

.toggle-visibility{
    display: block;
}


@media (max-width:1024px){
    
.book-now-flight-sub-right-top{
    background-image: linear-gradient(to right, rgb(45, 193, 140), rgb(33, 147, 147));
    color: #fff;
    text-transform: uppercase;
    padding: 1px;
    font-size: 8px;
    word-spacing: 1px;
    letter-spacing: 0.2px;
}

.book-now-flight-sub-right-bottom{
    all: unset;
    color: #0091ff;
    cursor: pointer;
    margin-top: 10px ;
    font-size: 10px;
}

.book-now-flight-timing{
    width: 97%;
    height: 55%;
    padding: 20px 10px;
    background-color: rgba(156, 155, 155, 0.219);
    margin: 10px 0 0 10px;
    color: black;
    font-weight: 600;
}

.text-s{
    font-size: 8px;
}

.text-heading{
    font-size: 12px;
}

.toggle-visibility{
    display: none;
}
}

@media (max-width: 600px){
    .text-heading{
        font-size:8px;
    }
}