.train-individual-card{
    width: 100%;
    height: 250px;
    border:0.5px solid #4a4a4ab1;
    border-radius: 4px;
    padding: 5px;
    margin: 0 0 10px 0;
    cursor: pointer;
}

.train-individaul-card-first{
    display: flex;
    align-items: center;
}

.train-individual-cart-name{
    width: 25%;
    text-align: left;
    margin-left: 10px;
    margin-right: 5%;
   
}

.trainName{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -.49px;
    color: #000;
    margin-bottom: 5px;
   
}

.train-departure-time ,.train-duration ,.train-arrival-time,.train-availableSeats ,.train-fare{
    width: 12%;   
    padding: 5px;
   
}

.empty-space{
    width: 5%;
    height: 3px;
    background-color: rgba(81, 103, 227, 0.411);
}

.train-fare-content{
    font-size: 16px;
    font-weight: 700;
    font-style:italic;
}

.train-individaul-card-second{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.individual-coach-details{
    min-width: 10%;
    height: 90px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    background-color: #fff;
    padding: 10px 10px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
}

.update-time{
    font-size: 8px;
}

.update-seats{
    font-size: 10px;
}