.header {
  width: 100%;
  height: 80vh;
  color: white;
  background: url("https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/bg7.jpg");
  /* background-position: center; */
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
}

.header-container {
  width: 98%;
  margin: 0 1%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header-heading {
  display: flex;
  width: 15vw;
  margin-left: 10px;
  cursor: pointer;
}

.header-content {
  width: 75vw;
  height: 100%;
  display: flex;
  align-items: flex-start;
  list-style: none;
}
.super-offer {
  width: 15vw;
  height: 100%;
  padding: 5px 10px;
  display: flex;
}

.super-offer-content {
  width: 100%;
  height: 100%;
  margin: 0 5px;
  text-align: center;
  text-align: start;
}

.content-1 {
  margin-top: 5px;
  margin-left: 2px;
  font-size: 12px;
  line-height: 8px;
  font-weight: 700;
  color: #ffffff;
}

.content-2 {
  font-size: 10px;
  line-height: 10px;
  color: #c2c2c2;
  margin: 2px;
}

.super-offer-icon-bg {
  width: 25px;
  height: 25px;
  margin: 2px 0;
  animation: circularAnimation 3s linear infinite;
  animation-iteration-count: 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.super-offer-icon-bg span {
  font-weight: 900;
  z-index: 2;
}

.my-trips {
  width: 15vw;
  height: 100%;
  padding: 5px 8px 5px 10px;
  display: flex;
  text-align: left;
  cursor: pointer;
}
.my-trips-content {
  text-align: left;
}

.login-create-account {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20vw;
  border-radius: 4px;
  cursor: pointer;
  background-image: var(
    --color-btn-primary-bg,
    linear-gradient(93deg, #53b2fe, #065af3)
  );
}

.loged-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20vw;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.language-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.15);
  border: 0;
  border-radius: 4px;
  height: 100%;
  width: 12vw;
  color: #fff;
}

.logout {
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding: 5px;
  width: 90%;
  height: 90%;
  font-size: 16px;
  margin: 5% 10%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}


@media (max-width: 1024px){
  .header-container {
    width: 98%;
    margin: 0 1%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .header-heading {
    display: flex;
    width: 15vw;
    margin-left: 5px;
    cursor: pointer;
  }

  .header-content {
    width: 75vw;
    height: 5vh;
    display: flex;
    align-items: center;
    list-style: none;
  }
  
.super-offer  , .my-trips {
 display: none;
}

.super-offer-content {
  width: 100%;
  height: 100%;
  text-align: center;
  text-align: start;
}

.content-1 {
  margin-top: 5px;
  margin-left: 2px;
  font-size: 10px;
  line-height: 8px;
  font-weight: 700;
  color: #ffffff;
}

.content-2 {
  font-size: 10px;
  line-height: 10px;
  color: #c2c2c2;
  margin: 2px;
  display: none;
}


.login-create-account {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 30vw;
  border-radius: 4px;
  cursor: pointer;
  background-image: var(
    --color-btn-primary-bg,
    linear-gradient(93deg, #53b2fe, #065af3)
  );
  font-size: 12px;
}

.language-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  height: 5vh;
  width: 15vw;
  color: #fff;
  margin-left: 2%;
}

.logout {
  color: rgb(255, 255, 255);
  background-color: transparent;
  width: 80%;
  height: 90%;
  font-size: 12px;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

  
}